<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    {% include 'header.html' %}
    <body>
        <!-- {% include 'nav.html' %} -->
        <main>
            <div class="wrapper">
                <div class="container" style="top: 0; left: 0;">
                    <a href="{{ url_for('index') }}">
                        <img class="box-img" src="https://images.unsplash.com/photo-1668901382969-8c73e450a1f5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80" alt="">
                    </a>
                    <div class="overlay">
                        <a href="{{ url_for('index') }}">
                            <h1 class="text">Tic Tac Toe</h1>
                        </a>
                    </div>
                </div>
                <div class="container" style="top: 0; left: 350px;">
                    <a href="{{ url_for('index') }}">
                        <img class="box-img" src="https://images.unsplash.com/photo-1654521957182-f0277b65005a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2458&q=80" alt="">
                    </a>
                    <div class="overlay">
                        <a href="{{ url_for('index') }}">
                            <h1 class="text">Image Watermarking</h1>
                        </a>
                    </div>
                </div>
                <div class="container" style="top: 350px; left: 0;">
                    <a href="{{ url_for('index') }}">
                        <img class="box-img" src="https://images.unsplash.com/photo-1661922027938-7c81dd767731?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">
                    </a>
                    <div class="overlay">
                        <a href="{{ url_for('index') }}">
                            <h1 class="text">PDF to Audio</h1>
                        </a>
                    </div>
                </div>
                <div class="container" style="top: 350px; left: 350px;">
                    <a href="{{ url_for('index') }}">
                        <img class="box-img" src="https://images.unsplash.com/photo-1623282033815-40b05d96c903?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">
                    </a>
                    <div class="overlay">
                        <a href="{{ url_for('index') }}">
                            <h1 class="text">Custom API Website</h1>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>