<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    {% include 'header.html' %}
    <body>
        {% include 'nav.html' %}
        <script src="" async defer></script>
        <main>
            <div class="container">
            <a href={{ url_for('content') }}>
                <h1 class="content">Portfolio Website</h1>
                <p class="content">My name is <strong>Jonathan Keller</strong> and I am a web developer. I have been working in the industry for 5 years and have worked on many projects. I have a passion for web development and I am always looking to learn new things. I am currently working on a project that will be released soon. I am also working on a new website for my company. I am always looking for new opportunities so please feel free to contact me.</p>
                <img src="https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2020&q=80" alt="pic of laptop" class="content-img">
            </a>
            </div>
        </main>
        
    </body>
</html>